/* CSS Sequence 7 steps) */
/* Step 1 : parentContainer */
/* Step 2 : component */
/* Step 3 : componentContainer */
/* Step 4 : row */
/* Step 5 : column */
/* Step 6 : subColumn */
/* Step 7 : contentContainer */

/* Step 1 : parentContainer */
/* for parentcontainer css properties are given in the default css file */
/* header{
    backgroung-color: #ffffff
 } */

/* Step 2 : component */
.gallery{
    background-color: #ffffff;
}
/* Step 3 : componentContainer */
.galleryContainer{
    /* background-color: #ffe4c4; */
}

/* Step 4 : row 1*/
/* .headingBody {
    background-color: #f18b8b;
} */

/* Step 5 : column */
/* .headingBlock {
    background-color: #b8fc74;
} */

/* Step 6 : subColumn */
/* .headingBox {
    background-color: #f4f44c;
    width: 100%;
    height: 100%;
} */

/* Step 7 : contentContainer */
/* .headingBox figure {
    background-color: #6780ef;
}

.headingBox figure img {
    background-color: #62625a;
    height: 4rem;
} */

/* .headingBox h2 {
    background-color: #f296c7;
    font-family: "Merienda", cursive;
    color: #212529;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
} */

/* Step 4 : row 2 */
.galleryBody{
    /* background-color: #b7ff6e; */
    padding: 0rem 2rem;
}
/* Step 5 : column [6] */
.galleryBlock{
    /* background-color: #4f4ff2; */
}
/* Step 6 : subColumn [6] */
.galleryBox{
    /* background-color: #d2691e; */
}
/* cardHeader [6] */
.galleryBox .cardHeader{
    /* background-color: #a94efe; */
}
/* Step 7 : contentContainer [6] */
.galleryBox .cardHeader figure{
    /* background-color: #2084ae; */
}
.galleryBox .cardHeader figure img{
    /* background-color: #aeae20; */
    width: 100%;
    aspect-ratio: 4 / 3;
}