/* CSS Sequence 7 steps) */
/* Step 1 : parentContainer */
/* Step 2 : component */
/* Step 3 : componentContainer */
/* Step 4 : row */
/* Step 5 : column */
/* Step 6 : subColumn */
/* Step 7 : contentContainer */

/* Step 1 : parentContainer */
/* for parentcontainer css properties are given in the default css file */
/* header{
    backgroung-color: #ffffff
 } */

/* Step 2 : component */
.heroSection{
    /* position: absolute; */
    /* width: 100%; */
    /* top: 10.3rem; */
    background-color: #eedcd0;
    background-image: url(./assests/images/home-bg.jpg.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}
/* Step 3 : componentContainer */
.heroContainer{
    /* background-color: #00ffff; */
    padding: 3rem 0rem;
    max-width: 1200px;
    padding: 3rem 1rem;
    max-width: fit-content;
    background-color: rgba(255, 255, 255, 0.25); /* white with 50% opacity */
}
/* Step 4 : row */
/* .heroBody{
    background-color: #dcdc89;
} */
/* Step 5 : column */
.heroBlock{
    /* background-color: #7fff00; */
    height: 61rem;
}
/* Step 6 : subColumn */
.heroBox{
    /* background-color: #ffff00; */
    /* width: 100%; */
    height: auto;
}
/* Step 7 : contentContainer */
.heroBox h1{
    /* background-color: #fd6868; */
    font-family: "Merienda", cursive;
    color: #212529;
    font-size: 5rem;
    font-weight: 900;
    line-height: 1.5;
    /* letter-spacing: 0.1rem; */
    /* margin-bottom: 1rem; */
}
.heroBox p{
    /* background-color: #08bdd1; */
    font-family: "Nunito", sans-serif;
    color: #212529;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    text-transform: capitalize;
    /* letter-spacing: 0.5rem; */
    margin-bottom: 2rem;
}
/* .heroBox button{
    background-color: #00ff15;
} */
